* {
  margin: 0;
  padding: 0;
}

body{
  background-color: black;
  place-items: center;
  height: 100vh;
  width: 50%;
  margin: auto;
  padding: 3rem;
}

h1 {
  font-size: 3rem;
  font-family: 'Big Shoulders Display',;
  background-color: azure;
  color: hsla(0, 0%, 100%, 0.75);
}

main{
  display: grid;
  grid-template-areas: 
  'a a b'
  'c d d'
  'c e e'
  ;
  gap: 8px;
  width: 100%;
  margin: auto;
}

main div{
  padding: 5rem;
  text-align: center;

}

header{
  padding: 2rem;
  font-size: 40px;
  
}

.item1{
  background-color: orangered;
  grid-area: a;
}

.item2 {
  background-color: orange;
  grid-area: b;
}

.item3{
  background-color: limegreen;
  grid-area: c;
}

.item4{
  background-color: deepskyblue;
  grid-area: d;
}

.item5{
  background-color: deepskyblue;
  grid-area: e;
}

@media only screen and (max-width:720px) {
  main div {
    padding: 2rem;
  }

  main {
    margin-top: 2rem;
  }

  header{
    text-align: center;
  }

}